@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

$font-family: 'Roboto Mono', monospace;
$font-color: #000;
$font-alternative-color: #054205;
$accent-color: #054205;
$h-border-color: #CADDCA;
$nav-button: #818181;
$background-color: #CADDCA;

$background-alternative-color: #3F663F;
$border-color: #153315;
$box-color: #CADDCA;

$theme-1: #0F0;
$theme-2: #7D997D;
$theme-3: #94FF94;
$theme-4: #3F663F;
$theme-5: #153315;