{% include 'incl/header.twig' %}
<html lang="{{ meta.lang ?? config.theme_config.lang }}"><body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">
        {{ content }}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>
