{% include 'incl/header.twig' %}
<html lang="{{ meta.lang ?? config.theme_config.lang }}"><body>
    {% include 'incl/nav.twig' %}

    <div class="main" role="main">

        {% block content %}
        <div class="technologies-container">
            <header class="grid-header">
                <h1>{{ meta.title }}</h1>
            </header>
            <main class="grid-container">
                {% for page in pages("technology") if not page.hidden %}
                <div class="grid-item">
                    <a href="{{ page.url }}">{{ page.title }}</a>
                </div>
                {% endfor %}
            </main>
        </div>
        {% endblock %}
    </div>
    
    {% include 'incl/footer.twig' %}
</body>

</html>